{
  "presets": [
    "react",
    "es2015",
    "stage-0",
    "latest"
  ],
  "plugins": ["transform-class-properties"],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        [
          "stage-0"
        ]
      ]
    }
  }
}
